<p id="notice"><%= notice %></p>

<h1>Classroom Pets</h1>

<p>
  <%= link_to 'Enter New Pet', new_pet_path, class: "btn btn-success" %>
</p>

<div class="row">
  <% @pets.each do |pet| %>
    <div class="col-md-3">
      <div class="well center-it pet-well">
        <p>
          <%= image_tag pet.image.thumb.url, alt: pet.name %>
        </p>
        <h3>
          <%= link_to pet.name, pet %>
        </h3>
        <p><em>Classroom Pet in Room #<%= pet.room %></em></p>
        <p>
          <%= link_to 'Edit', edit_pet_path(pet), class: "btn btn-warning" %>
          <%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </p>
      </div>
    </div>
  <% end %>
</div>